
* {
  padding: 0;
  margin: 0;
}

.dashboard-wrapper {
  display: grid;
  grid-template-columns: repeat(8, auto);
  grid-gap: 10px;
  padding-left: 50px;
}

.post-editor-card {
  padding: 10px;
  margin: 10px;
  background-color: rgb(240, 239, 235);
  height: 500px;
  border-radius: 10px;
}

.one {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
  position: relative;
  width: 100%;
}

.two {
  grid-column-start: 4;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 6;
  position: relative;
  width: 100%;
}

.three {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
  position: relative;
  width: 100%;
}

.user-card {
  background-color: rgb(240, 239, 235);
  margin: 10px;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  border-collapse: collapse;
  height: 250px;
}

.user-card-image {
  object-fit: cover; 
  width: 100%;
  height: 150px;
}

.user-card-body {
  padding: 20px;
}

.user-post-card {
  background-color: rgb(240, 239, 235);
  margin: 10px;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  border-collapse: collapse;
  height: 100px;
}

.user-post-card-image {
  width: 120px;
}

.user-post-card-text {
  padding: 10px;
}
